<div>
  <%= form_tag(generate_report_incidents_path, :method => 'get', :remote => true, class: "form-horizontal") do%>

      <div class="form-group">
        <label for="options" class="control-label col-xs-2">Select :</label>
        <div class="col-xs-5" style="padding-top: 10px;">
          <%= select_tag("report_name", options_for_select(Incident::TYPES, 'wintel')) %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
          <%= submit_tag 'Run' , :onclick => "show_indicater();"%>
        </div>
      </div>
  <% end %>
  <br/>
  <div class="clearfix"><hr/></div>
  <br/>
  <div id="show_report">

  </div>
</div>

<%if false%>
<script type="text/javascript">
  function show_indicater(){
    $('#loading-indicator').show();
  }
</script>
<%end%>