<style type="text/css">
 #image_style{
    display: block;
    margin-left: auto;
    margin-right: auto }
</style>
<div >
  <%= image_tag "telstra.png",:alt => "Telstra", :id => "image_style"%>
</div>
